samples
build
src/test/c/test.c
src/test/c/*.orig
src/test/c/*.patch
src/test/c/butcher_x64.*
src/test/c/build
src/test/py/test.py
src/test/py/*.orig
src/test/py/*.patch
src/test/py/__pycache__
src/test/py/butcher_x64.*
src/test/py/build
src/test/py/.venv
src/lang/test
